* {
    padding: 0;
    margin: 0;
}

.api-tester-edit-button {
    width: 60px;
    height: 30px;
    position: relative;
    left: 0px;
    top: -10px;
}

.api-tester-edit-answer-text {
    margin-top: 20px;
    margin-left: 10px;
    width: 90%;
}

.api-tester-edit-item {
    margin-top: 5px;
}